body {
  font-family: 'Poppins', sans-serif;
}

.header-container {
  background-color: rgb(199, 197, 197);
}

.game-container,
.input-container {
  margin-top: 20px;
  border: 1px solid black;
  width: 800px;
  margin-bottom: 20px;
}

.game-board {
  padding: 20px;
}

.board-row {
  border-left: 2px solid black;
  border-right: 1px solid black;
}

.game-board .game-block:first-child .board-row {
  border-top: 2px solid black;
}

.game-board .game-block:last-child .board-row {
  border-bottom: 3px solid black;
}

.game-block {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#block-2,
#block-5 {
  border-bottom: 2px solid black;
}

.cell {
  border-right: 1px solid black;
  height: 60px;
  font-size: 20px;
}

#cell-2,
#cell-5 {
  border-right: 3px solid black;
}

.selected {
  background-color: rgba(141, 197, 243, 0.4);
}

.main-selection {
  background-color: rgba(141, 197, 243, 0.8);
}

.value {
  height: 60px;
  font-size: 20px;
  border: 1px solid black;
  cursor: pointer;
}
